server {
  listen 80 default_server;
  server_name gizmo;
  client_max_body_size 10M;
  # merc
  location / {
    root /home/tfausak/gizmogg-app/dist;
  }
  # jalopy
  location /api {
    rewrite /api/?(.*) /$1  break;
    proxy_pass http://127.0.0.1:8080;
  }
}
