@import 'vars.scss';
@import '~bulma/bulma.sass';
@import '~font-awesome/css/font-awesome.css';
@import 'icomoon.css';

/* Helpers */

.is-bold,
.is-normal,
.is-muted { color: $grey-light; }
.is-relative { position: relative; }
.is-block { display: block; }
.no-margin { margin: 0!important; }
.text-normal { font-weight: normal; }
.text-bold { font-weight: bold; }
.text-primary { color: $primary; }
.text-success { color: $success; }
.text-warning { color: $warning; }
.text-danger { color: $danger; }
.text-light { color: $light; }
.text-dark { color: $dark; }
.text-small { font-size: 12px; }
.text-muted { color: $grey; }
.text-right { text-align: right!important; }
.text-left { text-align: left!important; }
.bg-offwhite { background-color: $white-ish!important; }

/* Panels */

.panel-heading.panel-squish {
  padding-top: 5px;
  padding-bottom: 5px;
  .heading {
    margin: 0;
    font-size: 13px;
    color: #000;
  }
}
.panel-block.panel-squish {
  padding-top: 3px;
  padding-bottom: 3px;
}

/* Levels */

.level-chained {
  justify-content: flex-start;
  > .level-item,
  > .level-item:not(.is-narrow) {
    flex-grow: 0;
    margin-right: 5px;
  }
}
.level-stacked {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  > .level-item,
  > .level-item:not(.is-narrow) {
    margin-right: 0;
    flex-grow: 0;
  }
}

/* Buttons */

.button.is-white-outlined {
  background-color: rgba(0, 0, 0, 0.1);
  border: 1px solid #fff;
}

/* Tables */

table.is-transparent,
table.is-transparent th,
table.is-transparent td {
  background-color: transparent;
}
.table-outerborder {
  border: 1px solid $border;
}
.table-stats {
  td {
    vertical-align: middle;
  }
  th {
    font-weight: normal;
    .has-text-right {
      text-align: right;
    }
  }
  progress {
    width: 100px;
  }
}

/* Charts */

.echarts {
  width: 300px!important;
  height: 150px!important;
  margin: 0 auto!important;
}

/* Images */

.is-circle-dark {
  border-radius: 64px;
  background-color: rgba(0, 0, 0, 0.1);
}
.is-circle-light {
  border-radius: 64px;
  background-color: rgba(255, 255, 255, 0.1);
}

/* Custom */

.potato {
  background-color: $white-bis;
  border: 1px solid $grey-lighter;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
  border-radius: 2px;
  padding: 10px;
}
