@import 'vars.scss';
@import '~bulma/bulma.sass';
@import '~font-awesome/css/font-awesome.css';
@import 'icomoon.css';

.is-fullwidth {
  width: 100%;
}

.button.is-white-outlined {
  background-color: transparent;
  border: 1px solid #fff;
}

table.is-transparent,
table.is-transparent th,
table.is-transparent td {
  background-color: transparent;
}

// default echarts size. it ships with something huge like 600x400
.echarts {
  width: 300px!important;
  height: 150px!important;
  margin: 0 auto!important;
}

// when you want a level like this: [A       B]
.level-split {
  justify-content: space-between!important;
}
.level-split > .level-item {
  flex-grow: 0!important;
}

.table-outerborder {
  border: 1px solid $border;
}

.table-stats {
  td {
    vertical-align: middle;
  }
  th {
    font-weight: normal;
    .has-text-right {
      text-align: right;
    }
  }
  .level {
    justify-content: flex-start;
  }
  .level > .level-item {
    flex-grow: 0;
    padding: 0 0 0 10px;
  }
  progress {
    width: 100px;
  }
}
.is-circle-32x32 {
  background-color: $grey-lighter;
  border-radius: 16px;
}
